spring:

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/vending_machine?serverTimezone=UTC&characterEncoding=UTF-8
    username: test
    password:

  jpa:
    properties:
      hibernate:
        #        show_sql: true
        #        format_sql: true
        globally_quoted_identifiers: true
        default_batch_fetch_size: 20
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: true

    server:
      port: 8080

#logging:
#  level:
#    root: DEBUG
